body {
  display: flex;
  justify-content: center;
  margin: 56px 0;
  background: #e5e5e5;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 544px;
  height: auto;
  padding: 36px 16px 0px;
  background: white;
}

header {
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 32px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#car_names_input_section {
  width: 425px;
  margin-bottom: 12px;
}

#racing_count_input_section {
  width: 425px;
  margin-bottom: 32px;
  /* display: none; */
}

form > label {
  font-size: 15px;
  line-height: 24px;
}

.input_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
}

.user_input {
  width: 330px;
  border: 1px solid #888888;
  border-radius: 4px;
  color: #888888;
  padding: 4px;
}

.user_input:disabled {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.input_button {
  width: 65.68px;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: rgb(0, 188, 212);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input_button:disabled {
  background: rgba(0, 188, 212, 0.4);
  cursor: not-allowed;
}

#racing_car_display_section {
  width: 100%;
  margin: 0 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#racing_car_list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.racing_car_item {
  padding-right: 6px;
}

.racing_car_name {
  width: 96px;
  height: 36px;
  font-size: 16px;
  background: #f5f5f5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.racing_car_progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.racing_car_progress > li {
  padding: 7px 0 8px;
  font-size: 32px;
}

.loading {
  display: flex;
  justify-items: center;
  padding: 7px 0 8px;
}

.loading::after {
  content: '';
  width: 25px;
  height: 25px;
  border: 7px solid #00bcd4;
  border-top-color: white;
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

.loading-hidden {
  display: none;
}

@keyframes loader {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1.5turn);
  }
}

#final_winner {
  font-size: 20px;
  font-weight: 600;
  /* display: none; */
}

#restart_section {
  padding-bottom: 42px;
  /* display: none; */
}

#restart_button {
  width: 152px;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #00bcd4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
