/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  /* title */

  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 106% */

  text-align: center;

  color: #000000;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input-box {
  margin-top: 40px;
}

.car-names-wrapper {
  margin-bottom: 30px;
}

.car-names-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.car-names-text .car-racing-count-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  letter-spacing: 0.5px;
  /* 00. On Surface / High Emphasis */

  color: rgba(0, 0, 0, 0.87);
}

.car-racing-count-box {
  display: flex;
  flex-direction: row-reverse;
  /* margin: 20px; */
  justify-content: center;
  align-items: center;
}

input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 8px 0px;

  width: 360px;
  height: 36px;

  border: 1px solid #b4b4b4;
  box-sizing: border-box;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

  width: 65.68px;
  height: 36px;

  border: 0;
  outline: 0;

  /* primary */
  background: #00bcd4;
  border-radius: 4px;

  /* font */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: white;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 1.25px;
  text-transform: uppercase;
}

/* #game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

#game-restart {
  width: 120px;
  height: 36px;
  margin-top: 10px;
}

#car-racing-winner {
  /* text/subtitle */
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.15px;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.87);
}

/* #car-progress-result {
  display: flex;
  align-items: center;
} */

#car-progress {
  display: flex;
  flex-direction: row;
}

/* #car-progress-result {
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 96px;
  display: flex;
  align-items: center;
  margin: 0px 5px;
} */

[id^='car-progress-result'] {
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 96px;
  display: flex;
  align-items: center;
  margin: 0px 5px;
}

#car-names {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#result-car-name {
  background: #f5f5f5;
  border-radius: 4px;
  width: 96px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
}
