body {
  height: fit-content;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;
}

.container {
  width: fit-content;
  height: fit-content;

  background: #ffffff;
  border: 0.0625em solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 0.25em;
}

.title {
  width: fit-content;
  height: 1.125em;
  text-align: center;
  align-items: center;
  margin: 1.125em auto 1em;
}

/*
    input
*/
.user-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-name-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
}

.input-container {
  display: flex;
}

.race-count-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
}

.display-none {
  display: none;
}

label {
  width: 22.5em;
  height: 1.5em;

  display: block;
  margin: 0.25em 0;
}

.user-input-container {
  width: 27.5em;
  height: fit-content;
  margin: 0 auto;
}

.input-button {
  width: 4em;
  height: 2.25em;
  background: #00bcd4;
  border-radius: 0.25em;
  border: none;
  color: #ffffff;
  margin: 0.25em;
}
.input-button:hover {
  background: #62efff;
}
.input-button:active {
  background: #008ba3;
}

input {
  width: 22.5em;
  margin: 0.25em 0;
  padding: 0.5em 0.5em 0.25em;
}

/*
    racing game screen
*/
.racing-content {
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  margin: 0 auto;
}

.car {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
}
.car:first-child {
  margin-left: 0.5em;
}

.car label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2.25em;
  background: #f5f5f5;
  border-radius: 0.25em;
}

.car div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car div p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  margin: 0.5em;
}

/*
    racing result
*/
.racing-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.35rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);

  margin: 1.5em 0;
}

.restart-button {
  margin-bottom: 2em;
  width: 9.5em;
  height: 2.25em;
  background: #00bcd4;
  border-radius: 0.25em;
  border-style: none;
  color: #fff;
}

/*
  loading spinner
*/
@keyframes spinner-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 2rem;
  height: 2rem;
  margin: 0.5em;
  border: 0.25em solid #00bcd4;
  border-top: 0.25em solid transparent;
  border-radius: 50%;

  animation: spinner-loading 0.8s linear infinite;
}
