body {
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

p {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 544px;
    border-radius: 4px;
    padding: 36px 16px 32px 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    background-color: white;
}

.app .turn-count,
.app .result-area,
.app .final-result-area {
    display: none;
}

.app.show-turn-count-form .turn-count,
.app.show-result-area .result-area,
.app.show-final-result-area .final-result-area {
    display: block;
}

.game-title {
    margin: 0;
    font-size: 34px;
    text-align: center;
    color: #000000;
}

.form-area {
    width: 100%;
    padding: 32px 34px 0;
    box-sizing: border-box;
}

.game-form {
    width: 100%;
    margin-bottom: 12px;
}

.game-form.name {
    margin-bottom: 13px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.87);
}

.input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
}

.form-input {
    width: 80%;
    height: 100%;
    padding-left: 8px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
}

.form-button {
    width: 65.68px;
    height: 100%;
}

.result-area {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.progress-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.car-track {
    width: 96px;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.car-track:last-child {
    margin: 0;
}

.car-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    background: #f5f5f5;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.car-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    line-height: 38px;
}

.car-step {
    margin-top: 8px;
}

.final-result-area {
    margin-top: 32px;
}

.stage {
    margin: 32px 0 24px 0;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.blue-button {
    background: #00bcd4;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.restart-button {
    width: 152px;
    height: 36px;
}

.loader {
    box-sizing: border-box;
    border: 5px solid #00bcd4;
    border-top: 5px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
