:root {
  --main-button-color: rgb(0, 191, 216);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-width: 544px;
}

.hidden {
  display: none;
}

.name-form,
.count-form {
  margin: 20px;
}

.input-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name-input,
#count-input {
  flex: 1;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.count-button,
.name-button {
  margin-left: 10px;
}

.count-button,
.name-button,
.restart {
  border: none;
  border-radius: 3px;
  letter-spacing: 1.5px;
  background-color: var(--main-button-color);
  color: white;
  padding: 5px;
  width: 55px;
  height: 40px;
}

.restart-container {
  display: flex;
  justify-content: center;
}

.restart {
  width: 140px;
}

.race-container {
  display: flex;
  justify-content: space-between;
}

.car-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  background: #f5f5f5;
  border-radius: 4px;
  margin: 10px;
}

.arrow {
  margin-top: 10px;
  font-size: 32px;
}

.winners-name {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0px;
}

/* Loader */

.loader,
.loader:after {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.loader {
  font-size: 10px;
  border-top: 8px solid var(--main-button-color);
  border-right: 8px solid var(--main-button-color);
  border-bottom: 8px solid var(--main-button-color);
  border-left: 8px solid #ffffff;
  animation: myLoader 1.1s infinite linear;
}

@keyframes myLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
