body {
  background-color: #f9f9f9;
}

body button {
  background-color: #00bcd4;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  border-radius: 4px;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  outline: none;
}

input:disabled::after {
  background-color: #888888;
}

button:disabled {
  background-color: #888888;
}

h1,
h2 {
  text-align: center;
}

form {
  width: 100%;
  max-width: 500px;
}

form > label {
  color: rgba(0, 0, 0, 0.87);
}

form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  margin: 10px 0;
}

form > div > input {
  flex: 1;
}

#racing-game {
  margin: auto;
  width: max-content;
  background-color: #ffffff;
  padding: 36px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

#game-progress {
  display: flex;
  gap: 10px;
}

#game-progress > .car-progress {
  width: 96px;
  text-align: center;
}

.car-name {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 10px 6px;
  margin-bottom: 10px;
}

.step {
  font-size: 32px;
}

#winners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.hide {
  display: none;
}

.spinner {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: #00bcd4 solid 5px;
  border-top-color: transparent;
  margin: 10px auto;
}

#input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
