#app {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  min-width: 460px;
}

.name-form,
.count-form {
  margin-bottom: 20px;
}

.name-input,
.count-input {
  width: 75%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin-top: 2px;
}


.count-button,
.name-button {
  border: none;
  border-radius: 3px;
  letter-spacing: 1.5px;
  background-color: rgb(0, 191, 216);
  color: white;
  padding: 5px;
  width: 55px;
  height: 32px;
  margin-left: 10px;
  margin-top: 2px;
}

