html{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-forms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 150px;
}

form{
    width: 400px;
    margin: 0 auto;
}


label{
    display: block;
    margin-bottom:12px;
}

input { 
    width: 80%;
    padding: 8px;  
}

button {
    background-color: #00BCD4;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 10px 1em;
}

.racing-status {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

.user-status {
    margin: 0 4px;

}

.user-name{
    background-color: #F5F5F5;   
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 4px;
}

.move {
    text-align: center;
    margin: 4px;
}