html{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-forms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 150px;
}

form{
    width: 400px;
    margin: 0 auto;
}


label{
    display: block;
    margin-bottom:12px;
}

input { 
    width: 80%;
    padding: 8px;  
}

button {
    background-color: #00BCD4;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 10px 1em;
}

button:hover {
    filter: brightness(110%);
    transition: 0.5s;
}

.racing-status {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

.car-status {
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-name{
    background-color: #F5F5F5;   
    width: 96px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
}

.move {
    text-align: center;
    margin: 4px;
}

.loader {
    border: 5px solid #00BCD4;
    border-bottom: 5px solid #f3f3f3; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-top: 5px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.racing-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restart-button {
    visibility: hidden;
}

.disabled-button {
    filter: brightness(80%);
    pointer-events: none;
}
