*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x: hidden;
    background-color: #FFFFFF
}

body{
    display: flex;
    justify-content: center;
}
.app {
    max-width:544px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:  10%;

}

.app > form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 150px;
}


.input-wrapper{
    display: block;
    width: 400px;
    margin: 0 auto;
}


.input-wrapper > label{
    display: block;
    margin-bottom: 0.75em;
}

.input-wrapper > input { 
    width: 80%;
    padding: 0.5em;  
}

button {
    background-color: #00BCD4;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 0.7em 1em;
    cursor:pointer;
}

button:disabled {
    background-color: #4ACADB;
    cursor: default;
}


.information-wrapper {
    margin: 0 0.4em;
}

.name-wrapper {
    background-color: #F5F5F5;   
    padding: 0.5em 0.7em;
    font-size: 16px;
    border-radius: 4px;
}

.progress-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-wrapper > h3, div {
    text-align: center;
    margin: 0.3em;
}


.status-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 1.25em 0;
}


.result-wrapper {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-wrapper > div {
    margin-bottom: 1.5em;
}

.spinner {
    border: 5px solid #00BCD4 ;
    border-top: 5px solid transparent;
    border-radius: 50%;
    width:20px;
    height: 20px;
    animation: spin 1.2s linear infinite;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}

.hidden{
    display: none;
}
