#app {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  min-width: 460px;
}

.form-container {
  display: flex; 
  flex-direction: column;
  
}

.count-form {
  display: none;
}

.name-form,
.count-form {
  margin-bottom: 20px;
}

.name-input,
.count-input {
  width: 75%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin-top: 2px;
}


.count-button,
.name-button,
.restart {
  border: none;
  border-radius: 3px;
  letter-spacing: 1.5px;
  background-color: rgb(0, 191, 216);
  color: white;
  padding: 5px;
  width: 55px;
  height: 32px;
  margin-left: 10px;
  margin-top: 2px;
}

.restart-container {
  display: none;
  justify-content: center;
}

.restart {
  width: 140px;
}

.race-result-container {
  display: flex;
  justify-content: space-between; 
}

.result-car-wrapper {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.result-car-name {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px; 
  background: #F5F5F5;
  border-radius: 4px;
}

.result-arrow {
  margin-top: 10px;
  font-size: 32px;
}

.winners-name {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0px;
}