body {
    display: flex;
    justify-content: center;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

label{
    font-size: 15px;
    display:block;
}

input{
    width: 360px;
    height: 36px;
    padding: 0px 8px;
    border: 1px solid #B4B4B4;
    border-radius: 4px;
    margin:4px;
}

#racing-form-container{
    display: flex;
    flex-direction: column;
    gap:12px;
}

button {
    border-radius: 4px;
    background-color: #00BCD4 ;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: #80DEEA;
}

button:disabled{
    cursor:default;
    background-color:#D1D1D1;
}

form > button {
    width: 64px;
    height: 36px;
}

#racing-result-container > button{
    width:150px;
    height:36px;
}

#racing-result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#racing-progress-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.car-progress-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.car-progress-container--name {
    width:96px;
    height:36px;
    background-color:#f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.car-progress-container--status{
    font-size:32px;
    display: flex;
    justify-content: center;
}