@import "./component/input.css";

body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F9F9F9;
}

#app{
    position: absolute;
    width: 544px;
    height: 590px;
    left: 448px;
    top: 56px;
}

#container{
    position: absolute;
    width: 544px;
    height: 590px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 4px;
}

h1{
position: absolute;
width: 512px;
height: 36px;
left: 16px;
top: 36px;

/* title */

font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 36px;
/* identical to box height, or 106% */

text-align: center;

color: #000000;
}

#turn-result{
    position: absolute;
    width: 512px;
    height: 174px;
    left: 16px;
    top: 276px;
    display: flex;
}



#car-result{
    
    width: 96px;
    height: 174px;
    left: 16px;
    top: 276px;
    
    margin: 0 2px;
}

#car-result div{
    
    width: 96px;
    height: 36px;
    left: 16px;
    top: 276px;
    
    background: #F5F5F5;
    border-radius: 4px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#car-result p{
    display: flex;
    justify-content: center;
    align-items: center;
}


#winners-result{
    position: absolute;
    width: 512px;
    height: 84px;
    left: 16px;
    top: 474px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#winners-result p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#winners-result button{
    width: 152px;
    height: 36px;
    padding: 6px 6px 6px 8px;

    background: #00BCD4;
    border-radius: 4px;
    border: 0;

    color: #FFFFFF;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}