#input-container{
    position: absolute;
    width: 441.68px;
    height: 140px;
    left: 50px;
    top: 104px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#car-names-form{ 
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#car-names-form div{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13px;
    line-height: 24px;
    height: 64px;
}

#try-count-form{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#try-count-form div{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13px;
    line-height: 24px;
    height: 64px;
}

#input-container input{
    width: 360px;
    height: 64px;
}

#car-names-button, #try-count-button{
/* primary */
background: #00BCD4;
border-radius: 4px;
border: 0;

position: static;

top: calc(50% - 16px/2);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

letter-spacing: 1.25px;
text-transform: uppercase;

color: #FFFFFF;
width: 65px;
height: 36px;
}


