#turn-result {
  position: absolute;
  width: 512px;
  height: 174px;
  left: 16px;
  top: 276px;
  display: flex;
}

.car-result {
  width: 96px;
  min-height: 174px;
  left: 16px;
  top: 276px;

  margin: 0 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-Name-title {
  width: 96px;
  height: 36px;
  left: 16px;
  top: 276px;

  background: #f5f5f5;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.car-result p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#winners-result {
  position: absolute;
  width: 512px;
  height: 84px;
  left: 16px;
  top: 474px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#winners-result p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

#winners-result button {
  width: 152px;
  height: 36px;
  padding: 6px 6px 6px 8px;

  background: #00bcd4;
  border-radius: 4px;
  border: 0;

  color: #ffffff;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
